.App {
  margin: 0 auto;
  text-align: center;
  color: #DEEEEA;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ececec;
  box-shadow: 0 2px 2px -4px rgba(236, 236, 236, 0.6);
  max-height: 6em;
  max-width: 100%;
  padding: 1em;
  margin-bottom: 2em;
}

.logo {
  max-height: 4em;
  margin-right: .5em;
}

.header--title {
  font-size: 2em;
  text-decoration: overline;
  text-align: left;
  color: #242424;
  margin: 0;
}

a {
  font-size: 1em;
  color: skyblue;
}

.main--wrapper {
  margin: 0 auto;
  max-width: 600px;
  width: 80%;
  padding: 1em;
  border-radius: 0.5em;
  background: #242424;
  box-shadow: inset 7px 7px 10px #1d1d1d,
            inset -7px -7px 10px #2b2b2b;
  margin-bottom: 2em;
}

.getData-btn {
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.getData-btn:hover,
.getData-btn:focus {
  background-color: rgb(255, 105, 94);
}

.getData-btn:active {
  box-shadow: inset 2px 2px 3px #1d1d1d,
            inset -2px -2px 3px #2b2b2b;  
}

